.info-modal {
  position: fixed;
  top: 80px;
  right: 10px;
  width: 40%;
  height: 100%;
}
.info-modal__content {
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  color: black;
  font-size: 22px;
  font-weight: normal;
  font-family: "DIN-alternate", sans-serif;

  li {
    margin-bottom: 6px;
  }
}
.info-modal__title {
  text-align: center;
  font-size: 56px;
  font-weight: bold;
  font-family: "subway-berlin-ot", sans-serif;
  color: white;
  -webkit-text-stroke: black 1px;
  margin-bottom: 4px;
}
