.intro-page {
  display: grid;
  place-content: center;
  height: 100%;
  gap: 0;
  place-items: center;
}

.intro-page__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 24px;
  width: 80%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.intro-page__title {
  font-size: 72px;
  font-weight: normal;
  margin-bottom: 12px;
  font-family: "subway-berlin-ot", sans-serif;
  -webkit-text-stroke: black 3px;
}

.intro-page__description {
  text-align: center;
  width: 90%;
  font-size: 44px;
  font-weight: normal;
  margin-bottom: 12px;
  font-family: "subway-berlin-ot", sans-serif;
  -webkit-text-stroke: black 2px;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .intro-page__title {
    font-size: 56px;
    -webkit-text-stroke: black 2px;
  }
  .intro-page__description {
    font-size: 36px;
    -webkit-text-stroke: black 1.7px;
  }
  .intro-page__content {
    width: 85%;
  }
}

@media (max-width: 1024px) {
  .intro-page__title {
    font-size: 44px;
    -webkit-text-stroke: black 2px;
  }
  .intro-page__description {
    font-size: 28px;
    -webkit-text-stroke: black 1.2px;
  }
  .intro-page__content {
    width: 90%;
    margin-top: 32px;
  }
}

@media (max-width: 768px) {
  .intro-page__title {
    font-size: 36px;
    -webkit-text-stroke: black 2px;
  }
  .intro-page__description {
    font-size: 24px;
    -webkit-text-stroke: black 1px;
  }
  .intro-page__content {
    padding: 16px;
    margin-top: 48px;
  }
}

@media (max-width: 480px) {
  .intro-page__title {
    font-size: 32px;
    -webkit-text-stroke: black 1px;
  }
  .intro-page__description {
    font-size: 24px;
    -webkit-text-stroke: black 0.8px;
  }
  .intro-page__content {
    padding: 8px;
    margin-top: 64px;
  }
}
