.input{
    background-color: rgba(0, 0, 0, 0.4);
    border: 0;
    border-radius: 20px;
    color:white;
    width:50vw;
    height: 80px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 80px;
    font-family: "subway-berlin-ot", sans-serif;
    margin-bottom: 2rem;
    -webkit-text-stroke: black 3px;
    -webkit-text-stroke: ;
    &::placeholder{
        color: white;
        
        opacity: 0.5;
    }

}