.tactics-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
    .tactics-card__content{
        width: 120px;
        height: 185px;
        padding:2px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }
    .tactics-card__image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    .tactics-card__title{
        font-size: 1.3rem;
        white-space: nowrap;
        font-weight: 900;
        color: black;
        display: flex;
        justify-content: center;
        align-self: center;
        margin-top:50%;
        margin-bottom: 2px;

    }
    .tactics-card__description{
        text-align: center;
        font-size: .75rem;
        font-weight: 500;
        color: black;
        padding-inline: 12px;
        padding-top: 0;
        margin-top: 0;
    }



}