.active-game-page {
  display: flex;
  flex-direction: column;

  .top-section {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 1rem;
    position: relative;
  }

  .bottom-section {
    margin-top: 100px;
    padding: 1rem;
    position: relative;
  }

  @media (min-width: 768px) {
    .top-section,
    .bottom-section {
      padding-bottom: 2rem;
    }
  }

  @media (min-width: 1024px) {
    .top-section,
    .bottom-section {
      padding-bottom: 3rem;
    }
  }
}
