.back-button {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    visibility: hidden;
    z-index: 1;

    img {
        visibility: visible;
    }
    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}
.next-button {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: transparent;
    visibility: hidden;
    z-index: 1;
    margin-right: -100px;

    img {
        visibility: visible;
    }
    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}