button {
  border: none;
  background-color: transparent;
}

.back-button {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  img {
    visibility: visible;
  }
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}
.next-button {
  text-align: center;
  z-index: 2;

  img {
    visibility: visible;
  }
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  @media (max-width: 1024px) {
    img {
      transform: scale(0.9);
    }
  }

  @media (max-width: 768px) {
    img {
      transform: scale(0.8);
    }
  }
  @media (max-width: 480px) {
    img {
      transform: scale(0.7);
    }
  }
}
