.main-page {
  position: absolute;
  top: 0;
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  width: 100%;
  height: 100%;
  min-width: 675px;
}

.main {
  color: white;
  display: grid;
  place-items: center;
  margin-top: 14vh;
}

.main-login__image {
  position: absolute;
  right: 1%;
  top: 1%;
  transition: all 0.3s ease;
  z-index: 5;

  @media (max-width: 1024px) {
    display: none;
  }

  @media (max-width: 480px) {
    display: none;
  }
}
.main-login {
  width: 100%;
  height: 100%;
  position: relative;
}

.main-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-button__image {
  width: auto;
  height: auto;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .main-page {
    background-repeat: repeat-y;
  }
  .main {
    margin-top: 18vh;
    margin-left: -200px;
  }

  .main-login {
    right: 4%;
    top: 3%;
  }
}

@media (max-width: 768px) {
  .main-page {
    background-size: auto 100%;
    background-repeat: repeat-y;
  }
  .main {
    margin-top: 20vh;
  }
}

@media (max-width: 480px) {
  .main-page {
    background-repeat: repeat-y;
  }
  .main {
    margin-top: 4vh;
    font-size: 0.9rem;
  }
  .main-button {
    flex-direction: column;
  }
}
