.main{
    color: white;
        display: grid;
        place-items: center;
        margin-top: 150px;
}
.main-login{
    position: absolute;
    right: 50px;
    top: 0;
}

.main-button{
    display:flex;
    justify-content: center;
    align-items: center;
}