.main-table{
  position:relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: fit-content;
  width: 100%;
  padding-inline: 16px;

    .main-table__influencer{
        width: 100%; 
        height:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main-table__tactics {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        padding-inline: 16px;
        gap: 4px;
        border-radius: 24px;
        background-color: rgba(0,0,0,.4);
        border: 1px dashed #e89aab;
    }
    .main-table__background{
        position: absolute;
        top: 35%;
        right: 21%;
        color: #e89aab;
        font-family: "technology";
        font-size: 22px;
        z-index: -1;
    }
    .main-table__finish-round{
        position:absolute;
        bottom: 15px;
        right: 45px;
        width: 35px;
        height:auto;
        padding: 4px;
    }
    .main-table__finish-round:hover{
        scale: 1.2;
        border: white dashed 1px;
        border-radius: 50%;
        cursor: pointer;
    }
}