.information-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: black;
  margin-top: 40px;
}
.information-page__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-block: 80px;
  margin-inline: 23%;
  background-color: white;
  border-radius: 12px;
  padding: 60px;
}

.information-page__title {
  font-size: 38px;
  font-weight: normal;
  margin-bottom: 30px;
  font-family: "alfa-slab-one", sans-serif;
}

.information-page__description {
  font-size: 24px;
  font-weight: 900;
  line-height: 36px;
  margin-bottom: 20px;
  font-family: "plus-jakarta-sans", sans-serif;
}
