.name-selection {
  display: grid;
  place-items: center;
  position: relative;
  margin-top: 160px;

  .name-selection__title {
    margin-block: 32px;
    width: 25%;

    @media (max-width: 1024px) {
      margin-bottom: 1.5rem;
      width: 30%;
    }

    @media (max-width: 768px) {
      margin-bottom: 1rem;
      margin-left: -100px;
      width: 40%;
    }

    @media (max-width: 480px) {
      margin-bottom: 0.5rem;
      width: 80%;
    }
  }
  .name-selection__header {
    font-family: "subway-berlin-ot", sans-serif;
    font-size: 72px;
    margin-block: 0;
    -webkit-text-stroke: black 1px;
    z-index: 2;

    @media (max-width: 1200px) {
      font-size: 60px;
      -webkit-text-stroke: black 0.9px;
    }

    @media (max-width: 1024px) {
      font-size: 48px;
      -webkit-text-stroke: black 0.8px;
    }

    @media (max-width: 768px) {
      font-size: 42px;
      -webkit-text-stroke: black 0.7px;
    }
  }
  .name-selection__content {
    display: grid;
    place-items: center;
  }
  .name-selection__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }

  .name-selection__button {
    position: absolute;
    border: 0;
    right: 5%;
    bottom: 5%;
    margin-top: 4rem;
  }
}

.name-selection__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}
