.room-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  border-radius: 20px;
  border: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-family: "DIN-alternate", sans-serif;
  font-size: 1.2em;
  padding-inline: 40px;
  border: 2px solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  cursor: pointer;

  &:hover {
    border: 2px solid rgb(226, 31, 73);
    box-shadow: 0 0 10px rgb(226, 31, 73);
  }
  @media (max-width: 1024px) {
    font-size: 1em;
    padding-inline: 30px;
  }

  @media (max-width: 768px) {
    font-size: 0.9em;
    padding-inline: 20px;
  }
  @media (max-width: 480px) {
    font-size: 0.8em;
    padding-inline: 10px;
    width: 80%;
  }
}

.room-tab__title {
  font-size: 80px;
  font-family: "subway-berlin-ot", sans-serif;
  -webkit-text-stroke: black 2px;
  margin-block: 12px;

  @media (max-width: 1024px) {
    font-size: 60px;
  }

  @media (max-width: 768px) {
    font-size: 40px;
    -webkit-text-stroke: black 1px;
  }
}

.players-avatars {
  z-index: 1000;
}
