.room-tab{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    border-radius: 20px;
    border:0;
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-family: "DIN-alternate", sans-serif;
    font-size: 1.2em;
    padding-inline: 40px;
}
.room-tab__title{
    font-size: 80px;
    font-family: "subway-berlin-ot", sans-serif;
    -webkit-text-stroke: black 2px;
    margin-block: 12px;
}
.players-avatars{
    z-index: 1000;
}