.instructions-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 80px;
}
.instruction-page__content {
  margin-top: 160px;
  width: 65%;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "subway-berlin-ot", sans-serif;
  font-size: 28px;
  font-weight: 900;
  border-radius: 20px;
  padding: 30px 60px;
  margin-bottom: 40px;
  margin-left: 50px;
  ol {
    margin-block-start: 0;
  }
  li {
    margin-bottom: 80px;
  }
}

.instructions-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.instruction-page__description {
  margin-left: 40px;
  font-size: 24px;
  font-weight: 900;
  line-height: 48px;
  font-family: "DIN-alternate", sans-serif;
  margin-bottom: 180px;
}
.instruction-page__image-container {
  margin-left: 30px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.instruction-page__image {
  width: 70%;
  height: auto;
}
.instruction-page__image-header {
  width: 100%;
  margin-block: 0;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "subway-berlin-ot", sans-serif;
  -webkit-text-stroke: black 1px;
  font-size: 100px;
}
.instruction-page__button {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.instructions-title {
  width: 40%;
  height: auto;

  @media (max-width: 768px) {
    width: 60%;
  }

  @media (max-width: 480px) {
    width: 80%;
  }
}

@media (max-width: 1200px) {
  .instruction-page__content {
    width: 80%;
    padding: 20px 40px;
    font-size: 22px;
  }
  .instruction-page__description {
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 100px;
  }
}

@media (max-width: 1024px) {
  .instruction-page__content {
    width: 80%;
    padding: 20px 40px;
    font-size: 22px;
  }
  .instruction-page__description {
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 100px;
  }
}
@media (max-width: 768px) {
  .instruction-page__content {
    width: 80%;
    padding: 15px 30px;
    font-size: 22px;
  }
  .instruction-page__description {
    font-size: 20px;
    line-height: 36px;
  }
}
@media (max-width: 480px) {
  .instruction-page__content {
    width: 80%;
    font-size: 22px;
    padding: 10px 20px;
  }
}
