.instructions-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.instruction-page__content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  width: 50%;
  background-color: white;
  color: black;
  font-family: "plus-jakarta-sans", sans-serif;
  font-size: 28px;
  font-weight: 900;
  border-radius: 20px;
  padding: 30px 60px;
  li {
    margin-bottom: 20px;
  }
}

.instruction-page__description {
  margin-left: 40px;
  font-size: 24px;
  font-weight: 900;
  line-height: 48px;
  font-family: "DIN-alternate", sans-serif;
  margin-bottom: 180px;
}
.instruction-page__image-container {
  margin-left: 30px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.instruction-page__image {
  width: 100%;
  height: auto;
}
.instruction-page__button {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.instructions-title {
  width: 40%;
  height: auto;

  @media (max-width: 768px) {
    width: 60%;
  }

  @media (max-width: 480px) {
    width: 80%;
  }
}
