.lobby {
  position: relative;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background);

  .lobby__rooms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 15px;
  }

  @media (min-width: 768px) {
    .lobby__title {
      font-size: 4em;
    }

    .lobby__rooms {
      gap: 20px;
    }
  }

  @media (min-width: 1024px) {
    .lobby__title {
      font-size: 5em;
    }

    .lobby__rooms {
      gap: 25px;
    }
  }
}
