.player-selection {
  display: grid;
  place-items: center;
  margin-top: 160px;
  width: 100%;

  .player-selection__input {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .player-selection__button {
    position: absolute;
    border: 0;
    right: 120px;
    margin-top: 4rem;
  }
}
.player-selection__title {
  width: 30%;
  height: auto;
  margin-top: 80px;
  z-index: 2;

  @media (max-width: 1024px) {
    width: 50%;
    margin-top: 60px;
  }

  @media (max-width: 768px) {
    width: 70%;
    margin-top: 100px;
  }

  @media (max-width: 480px) {
    width: 90%;
    margin-top: 20px;
  }
}
.player-selection__header {
  font-family: "subway-berlin-ot", sans-serif;
  font-size: 100px;
  margin-block: 0;
  -webkit-text-stroke: black 1px;
  z-index: 2;

  @media (max-width: 1200px) {
    font-size: 60px;
    -webkit-text-stroke: black 0.9px;
  }

  @media (max-width: 1024px) {
    font-size: 48px;
    -webkit-text-stroke: black 0.8px;
  }

  @media (max-width: 768px) {
    font-size: 36px;
    -webkit-text-stroke: black 0.7px;
  }

  @media (max-width: 480px) {
    font-size: 28px;
    -webkit-text-stroke: black 0.5px;
  }
}
.player-selection__avatar-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
  margin-inline: auto;
  max-width: 70%;
  max-height: 70%;

  .player-selection__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-inline: 120px;

    .player-selection__avatar {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 0.75rem;
    margin-inline: 30px;

    .player-selection__avatar {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @media (max-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 0.25rem;
    margin-inline: 10px;

    .player-selection__avatar {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
