.scoreboard{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "StussyScript", "Bradley",sans-serif;
    margin-bottom:0;
   
}
.scoreboard__round{
    margin-left: 40px;
}
.scoreboard__score{
    margin-right:40px;
    margin-left: 12px;
}
.scoreboard__score-numeric{
    font-size: 1.5em;
    font-weight: bold;
}
.scoreboard__avatar{
    display: flex;
    align-items: center;
    
}
.scoreboard__player-name{
   
    

}