/* Page style sheets */
@import "./components/Pages/LandingPage/styles/landing-page.scss";
@import "./components/Pages/MainPage/styles/main.scss";
@import "./components/Pages/InformationPage/styles/information-page.scss";
@import "./components/Pages/SettingsPage/styles/settings-page.scss";
@import "./components/Pages/GamePage/styles/game-page.scss";
@import "./components/Pages/CreditsPage/styles/credits-page.scss";

/* component style sheets */
@import "./components/Button/styles/button.scss";
@import "./components/Header/styles/header.scss";

/* game dedicated style sheets */
@import "./components/CoreGameComponents/CategoryCard/styles/category-card.scss";
@import "./components/CoreGameComponents/InfluencerCard/styles/influencer-card.scss";
@import "./components//CoreGameComponents//PlayersHand/styles/players-hand.scss";
@import "./components//CoreGameComponents/MainTable/styles/main-table.scss";
@import "./components/CoreGameComponents/TacticsCard/styles/tactics-card.scss";


/* global style sheets */
body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}